.app__button {
  cursor: pointer;

  width: 100%;
  max-width: 400px;
  padding: 12px 18px;
  border: 1px solid var(--elements-border-color);
  border-radius: var(--buttons-border-radius);

  color: var(--main-color);

  background-color: var(--elements-background);
  box-shadow: var(--buttons-box-shadow);

  transition: all 0.2s ease-in-out;
}

.app__button:focus {
  background: var(--buttons-background);
  outline: none;
  box-shadow: var(--buttons-focus-shadow);
}

@media (hover: hover) {
  .app__button:hover {
    color: var(--white);
    background-color: var(--buttons-hover-backgrond);
    box-shadow: var(--box-shadow);
  }
}

.app__button:active {
  box-shadow: var(--buttons-active-shadow);
}
