.app__buttons-container {
  flex-direction: column;
  gap: var(--gap);
  align-items: center;

  width: 100%;

  font-size: 1rem;
}

.app__buttons-container_picking {
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-between;

  width: 300px;
  margin-bottom: 10px;
}
