.app__button {
  cursor: pointer;

  width: 100%;
  max-width: 400px;
  padding: 12px 18px;
  border: 1px solid var(--elements-border-color);
  border-radius: var(--buttons-border-radius);

  color: var(--main-color);

  background-color: var(--elements-background);
  box-shadow: var(--buttons-box-shadow);

  transition: all 0.2s ease-in-out;
}

.app__button_back,
.app__button_sound {
  width: 50px;
  background-repeat: no-repeat;
  background-position: center;
}

.app__button_back {
  background-image: url('../../../images/go-back-arrow.png');
}

.app__button_sound {
  background-image: url('../../../images/volume-on.png');
}

.app__button_sound.app__button_sound-off {
  background-image: url('../../../images/volume-mute.png');
}

.app__button:focus {
  background-color: var(--buttons-background);
  outline: none;
  box-shadow: var(--buttons-focus-shadow);
}

.app__button:active {
  box-shadow: var(--buttons-active-shadow);
}

.app__button:disabled,
.app__button:disabled:hover,
.app__button:disabled:focus,
.app__button:disabled:active {
  cursor: not-allowed;
  opacity: 0.5;
  filter: grayscale(50%);
  box-shadow: none;
  background-color: var(--disabled-bg);
  color: var(--disabled-text);
  border-color: var(--disabled-border);
  pointer-events: none;
}

@media (hover: hover) {
  .app__button:hover {
    color: var(--white);
    background-color: var(--buttons-hover-backgrond);
    box-shadow: var(--box-shadow);
  }
}
