.app__error-modal {
  position: absolute;
  z-index: 1002;
  bottom: 20px;
  left: 0;
  transform: translateX(-110%);

  max-width: 300px;
  padding: 10px;
  border: 2px solid var(--main-color);
  border-radius: var(--inputs-border-radius);

  font-size: 0.8rem;

  visibility: hidden;
  background-color: var(--white);

  transition:
    transform 0.4s ease-in-out,
    visibility 0.2s ease-in-out;
}

.app__error-modal.show {
  transform: translateX(0);
  visibility: visible;
}
